body{
    background-color: aquamarine;
}
h1{
    color: orangered;
    text-align: center;
    border: 5px solid rgb(50, 82, 87);
}

.form-row{
    display: flex;
    flex-direction:column;
}

.from{
    width: 206px;
}
.padding{
    padding-top: 15px;
}
h3{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 800px;
    font-size: 50px;
}
button{
    font-family: cursive;
    border-radius: 30px;
    margin: 25px 130px;
}
.second{
    width: 25em;
    border-radius: 30px;
}
h4{
    font-family: 'Harlow Solid Italic', cursive;
    font-weight: 800px;
    font-size: 25px;  
    color: rgb(243, 9, 41);
}